<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Paper Teacher</title>
</head>
<body>
    {% block content %}

    <form action="add" method="post">

    {% csrf_token %} 
        Enter 1st number : <input type="text" name="num1"><br>
        Enter 2nd number : <input type="text" name="num2"><br>
        exam : python, Sql, forntend development

        <!-- Topic :
        Sub_topic :
        difficulty level: 
        Number of questions:
        add button: -->

        <input type="submit">
    </form>

    {% endblock %}
</body>
</html>