<!-- question_paper.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Paper</title>
</head>
<body>
    <h1>Your Question Paper</h1>

    <div>
        {% for question in questions %}
            <h1>{{ forloop.counter }}. {{ question.Question }}</h1>
            <h3>{{ question.OptionsA }}</h3>
            <h3>{{ question.OptionB }}</h3>
            <h3>{{ question.OptionC }}</h3>
            <h3>{{ question.OptionD }}</h3>
        {% endfor %}
    </div>


    <!-- <table border="1">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Topic</th>
                <th>Sub Topic</th>
                <th>Difficulty Level</th>
                <th>Question</th>
                <th>Option A</th>
                <th>Option B</th>
                <th>Option C</th>
                <th>Option D</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.Topic }}</td>
                <td>{{ question.Sub_Topic }}</td>
                <td>{{ question.Level }}</td>
                <td>{{ question.Question }}</td>
                <td>{{ question.OptionsA }}</td>
                <td>{{ question.OptionB }}</td>
                <td>{{ question.OptionC }}</td>
                <td>{{ question.OptionD }}</td>
                <td>{{ question.Answer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <a href=""{% url 'create_question_paper' %}">Back to Filter</a>
</body>
</html>
